body {
  margin: 0;
  font-family: "courier New",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(100, 232, 100), rgb(0, 157, 255));
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
	cursor: pointer;
}
background:  linear-gradient(to right, rgb(107, 118, 115), rgb(222, 134, 33));;